<h1 class="text-3xl font-bold mb-6">Editing project</h1>

<%= render 'form' %>

<div class="mt-4">
  <%= link_to 'Show', @project, class: 'text-blue-500 hover:underline' %> |
  <%= link_to 'Back', projects_path, class: 'text-blue-500 hover:underline' %>
</div>